body{
	font-family: Oxygen;
}

.homePage{
	background: url("https://n6-img-fp.akamaized.net/free-photo/smooth-dark-blue-with-black-vignette-studio-well-use-as-background-business-report-digital-website-template_1258-748.jpg?size=338&ext=jpg");
	background-size: cover;
	background-position: center;
	height: 1000px;	
	margin-top: -15%;
}

.titleStyle{
	color: white;
	text-decoration: underline;
	font-size: 50px;
	font-weight: bold;
	margin-bottom: 7%;
	text-align: center;
}

.titleStyle2{
	font-size: 50px;
	font-weight: bold;
}


.img-circle{
	width: 80%;
	margin-left: 15%;
	margin-top: 15%;
}

.paragraph{
	font-family: 'Montserrat', sans-serif;
	font-size: 1.4em;
	color: white;

}

.paragraph2{
	font-family: 'Montserrat', sans-serif;
	font-size: 2.0em;
	color: black;
	text-align: center;
	font-weight: 700;
	margin-top: 50px;
	margin-left: 50px;
}


hr.style-seven {
    overflow: visible; /* For IE */
    height: 30px;
    border-style: solid;
    border-color: white;
    border-width: 1px 0 0 0;
    border-radius: 20px;

    width: 100px;
    
}
hr.style-seven:before {
    display: block;
    content: "";
    height: 30px;
    margin-top: -31px;
    border-style: solid;
    border-color: white;
    border-width: 0 0 1px 0;
    border-radius: 20px;

    width: 100px;
    
}

.centerMe2{
	padding-left: 100px;
}

.aboutPage{
	background-color: #3b5998;
	width: 100%;
	height: 600px;
}

.sentral{
	margin: auto;
	padding-top: 50px;
	padding-right: 80px;
}

.projectPage{
	background-color: #e8eff9;
	width: 100%;
	height: 900px;
	text-align: center;
}

.contactPage{
	background-color: #0c1c30;
	height: 500px;
	width: 100%;

}

.hr_style{
	border-top: 1px solid #8c8b8b;
	text-align: center;
	width: 30%;
}

.sizeMe{
	width: 45%;
	padding-top: 25%;
	height: 90%;
}

.sizeMe_child{
	margin: auto;
	margin-right: -10%;
}

#githubIcon{
	color: rgb(102, 43, 129);
}

#linkedInIcon{
	color: rgb(0, 127, 178);
}

.newFont{
	font-size: 30px;
}

.jumbotron {
	background: #358CCE;
	color: #FFF;
	border-radius: 0px;
}

.jumbotron-sm {
	padding-top: 30px;
	padding-bottom: 0px; 
}

.jumbotron small {
	color: #FFF;
}

.centered {
	color: white;
	text-align: center;
	letter-spacing: 10px;
	font-weight: bold;
}

hr.style-four {
    height: 12px;
    border: 0;
    box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);
    width: 25%;
    margin-bottom: 60px;
}

.centerMe{
	width: 97%;
}